<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
</head>
<style>body {background-image: url("https://i.pinimg.com/originals/70/12/87/7012878781ccab15a9993efe8b351bc2.jpg")}</style>
<body>
  <nav>
    <ul>
      <li>
        <a href="/pizza-orders">Pizza Orders</a>
      </li>
    </ul>
  <%= yield %>
</body>
</html>
